form label {
    color: rgb(47, 50, 56);
    ;
    font-size: 140%;
    width: 100%;
}

form input {
    width:100%;
    font-size: x-large;
}

form textarea {
    width: 100%;
    font-size: x-large;
}

/*///////////////////////////////////////////////*/
#form-ingreso{
   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20;
    margin-top: 25vh;
    box-sizing: border-box;
}
#form-ingreso input{
    text-align: center;
    height: 60px;
}
#contrasena{
    width: auto;
    height: 100px;
    font-size: large;
}
.contenedor-form{
    color: black;
    opacity: 0.3;
}
.boton_form {
    background-color: rgb(69, 44, 151);
}

#btn:hover{
    transform: scale(1, 1.08);
   background-color: rgb(50, 44, 73);
   color: rgb(241, 252, 252);
   font-size:x-large;
}